@charset "UTF-8";

/* 全体共通 */
* {box-sizing: border-box;}
/* https://developer.mozilla.org/ja/docs/Web/CSS/box-sizing */

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium","游ゴシック", "Yu Gothic", sans-serif;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

html,body {
  overflow: hidden;
}

/* googlefonts */
/* それ */
.yuji-boku-regular {
  font-family: "Yuji Boku", serif;
  font-weight: 400;
  font-style: normal;
}
/* マシマシ */
.reggae-one-regular {
  font-family: "Reggae One", serif;
  font-weight: 400;
  font-style: normal;
}
/* Myカスタムラーメン */
.dela-gothic-one-regular {
  font-family: "Dela Gothic One", serif;
  font-weight: 400;
  font-style: normal;
}


/* humberger */
.menu-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.8);
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

.menu-content {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -20%;/*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.5s;/*アニメーション設定*/
}
.menu-content ul {
  padding: 70px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

#menu-btn-check:checked ~ .menu-content {
  left: 0;/*メニューを画面内へ*/
}

.index-header{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  display: flex;
  background-color: rgb(72, 115, 226);
}

.name{
  position: fixed;
  left: 40%;
  z-index: 90;
}

.name2{
  position: fixed;
  left: 40%;
  z-index: 90;
}

.name h1{
  margin: 0;
}

.so{
  font-size: 50px;
  margin-left: 120px;
  color: #ffffff;
  text-decoration: none;
}

.re{
  font-size: 50px;
  margin-left: 170px;
  color: #ffffff;
  text-decoration: none;
}

.profile{
  position: fixed;
  left: 92%;
}

.profile img{
  margin-top: 10px;
  width: 80px;
}

/* インデックス */
.tp-wap{
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background-color: #ffffff;
}

.tp-top{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.tp-top h1{
  font-size: 50px;
  margin: 0;
}

.tp-box{
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.cook-img{
  width: 500px;
  margin: 15px 25px;
}

.tp{
  width: 600px;
  margin-top: 8%;
  text-align: center;
}

.tp h2{
  font-size: 30px;
}

.radio-box{
  display: flex;
}

.radio-img{
  width: 200px;
}

input[type="radio"]{
  display: none;
}

label{
  display: inline-block;
  color: white;
  user-select: none;
}

input[type="radio"]:checked + label{
  background-color: rgb(72, 116, 226);
}

.nr-box{
  position: relative;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.prevbtn{
  width: 100px;
}

.nextbtn{
  position: absolute;
  right: 0;
  width: 100px;
}

.soushinbtn{
  position: absolute;
  right: 0;
  width: 100px;
}

.index-home-article{
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background-color: #ffffff;
}

.top{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.top h1 a{
  font-size: 50px;
  color: black;
  margin-top: 15px;
  text-decoration: none;
}

.top h1 a:hover{
  color: rgba(0, 0, 0, 0.1);
}

.custom{
  width: 1200px;
  margin: 0 auto;
  display: flex
}

.custom-img{
  width: 350px;
  margin: 5px 50px 50px 100px;
}

.qrbox{
  width: 300px;
  margin: 20px 50px 0 50px;
  text-align: center;
}

.qr-img{
  width: 150px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.qrbox h1{
  font-size: 16px;
  color: red;
}

.soushinbtn {
  background-color: #fff;
  border: solid 2px #191970;
  color: #191970;
  border-radius: 20px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1em;
  box-shadow: 0 5px 0 #191970;
  display: inline-block;
  transition: .3s;
  text-align: center;
}
.soushinbtn:hover {
  color: #191970;
  transform: translateY(5px);
  box-shadow: 0 0 0 #191970;
}